.intro{
  position: relative;
  background:url('../../static/liquids.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-size: 55px;
  line-height: 1.5;
  padding-top: 30vh;
  padding-left: 200px;
  padding-right: 200px;
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
}
.intro:before{
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.284);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}
.intro p{
  margin-right: 200px;
}