.contacts__block{
  margin: 0 auto;
  padding-top: 20vh;
  display: flex;
  align-items: center;
  width: 60%;
}
.dealer{
  margin-right: 50px;
  font-size: 35px;
}
.contacts__item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contacts__item img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.contacts__item p{
  font-size: 25px;
}