.popup{
  position: fixed;
  top: 20vh;
  width: 600px;
  background: #191919;
  padding: 20px;
  left: calc(50% - 300px);
  line-height: 1.5;
  border-radius: 20px;
  box-shadow: 0 0 20px white;
  visibility: hidden;
  opacity: 0;
  transition: .4;
  z-index: 0;
}
.popup.active{
  opacity: 1;
  visibility: visible;
  transition: .4;
  z-index: 10000;
}
.popup p {
  text-align: center;
  font-size: 35px;
}