.about{
  background: #121619;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}
.about__item{
  width: 70%;
  display: flex;
  align-items: center;
}
.about__item img{
  width: 500px;
  height: 600px;
  border-radius: 15px;
  box-shadow: 0 0 10px wheat;
}
.text{
  padding: 20px;
}
.text .title{
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(255, 0, 0, 0.55);
}
.text .description{
  font-size: 25px;
  text-align: center;
}